
@{
    ViewBag.Title = "Products";
    ViewBag.userId = Session["userId"];
}
<button class="btn btn-outline-primary offset-5"> @Html.ActionLink("View all products", "ViewProducts")</button>
<button class="btn btn-outline-secondary">@Html.ActionLink("Add", "AddProducts")</button>